syncplaylists.opensdf
syncplaylists.sdf
syncplaylists/syncplaylists.vcxproj.user
.vs/
ipch/
syncplaylists/x64/
x64/
Debug/
Release/
syncplaylists/Debug/
syncplaylists/Release/
syncplaylists/syncplaylists.aps
Report*.vspx
Report*.diagsession
enc_temp_folder/
